<!doctype html>
<head>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel = "stylesheet" type="text/css">
	<link href="./assets/css/bootstrap-theme.css" rel = "stylesheet" type="text/css">
    <title>Summer 2014</title>

</head>
        <div class="page">
            <div class="container">
                <div class="row" id="Tests">
                    <div class="col-md-12">
                         <h1>Summer 2014</h1>
                    </div>
                </div>
            </div>



        </div>
  {% block body %}{% endblock %}




