{% extends "index.html" %}
{% block body %}


        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                 <table class="table .table-bordered" id="homework">
                     <thead>
                      <tr>
                          <th>Course Code</th>
                          <th>Title</th>
                          <th>Date</th>
                          <th>Time</th>
                          <th>Complete</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for entry in entries|sort(attribute='date')  %}
                    <tr class="{{ entry.type }}">
                        <td>{{ entry.course_code }}</td>
                        <td>{{ entry.name }}</td>
                        <td>{{ entry.date|datetimeformat }}</td>
                        <td>{{ entry.time }}</td>
                        <td>{{ entry.complete }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>

                 </table>
        </div>
    </div>
</div>

{% endblock %}
