{% extends "index.html" %}
{% block body %}

    <div class="container">
        <div class="row" id="Tests">
            <div class="col-md-12">
                 <table class="table">
                      <tr>
                          <th>Course Code</th>
                          <th>Title</th>
                          <th>Date</th>
                          <th>Time</th>
                          <th>Complete</th>
                      </tr>

                    {% for entry in entries %}
                    <tr>
                        <td>{{ entry.course_code }}</td>
                        <td>{{ entry.test_name }}</td>
                        <td>{{ entry.date }}</td>
                        <td>{{ entry.time }}</td>
                        <td>{{ entry.complete }}</td>

                    </tr>
                    {% else %}
                    <tr><td><em>Unbelievable.  No entries here so far</em></td></tr>
                    {% endfor %}


                 </table>
        </div>
    </div>
</div>

{% endblock %}
